body {
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),url("https://www.ritzparis.com/sites/default/files/styles/1440x748/public/images/homepage_service/slides/entete_1440x748_0.jpg?itok=LPspfIb2");
    
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
}

.caption {
    color: #bfbebe;
    font-size: 1.5em;
    font-family: monospace;
}

#quote {
    color: aliceblue;
    background-color: darkgray;
    font-family: cursive;
    font-size: 1.5em;
    background-image: linear-gradient(#FFFFFF, #FF0000);
    border: 2px solid #ff0000;
/*    border-radius: 15 px;*/
}

body nav ul li a {color: black;
    font-family: sans-serif
}

h1,
h2 {
    font-family: sans-serif;

    color: whitesmoke;
}

h1 {border: 2px solid #000000; 
    border-radius: 15px;
    width: 300px;
    background-color: #bbbbbb;
 
    box-shadow: 5px 5px 5px #5a5a5a;
    }

.link {
    color: whitesmoke;
    font-family: sans-serif  
}